/* 1. CSS Reset / Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Downloaded Font */
@font-face {
  font-family: "Rooster";
  src: url("/font/ROOSTER\ PERSONAL\ USE.ttf");
  font-weight: normal;
  font-style: normal;
}

/* 2. Root Variables (optional) */
:root {
  /* Font Family */
  --ff-primary: Georgia, "Times New Roman", Times, serif;
  --ff-secondary: "Rooster", Georgia, "Times New Roman", Times, serif;

  /* Color Palette */
  --primary-color: #14cfae;
  --secondary-color: #1c4b43;
  --tertiary-color: #007bff;

  /* Color Palette IMG 3924 */
  --rust: #a65630ff;
  --powder-blue: #a1b2ddff;
  --sienna: #893419ff;
  --onyx: #3d3d3fff;

  /* Color Palette IMG 3924 2 */
  --onyx: #3d3d3fff;
  --caput-mortuum: #632416ff;
  --khaki: #aea49aff;
  --rich-black: #090a11ff;
  --rust: #a65630ff;

  /* Color Palette USAGE */
  --bg-color: #fff;
  --licorice: #281e1eff;

  /* Font Size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
}

/* 3. Media Queries */
@media (min-width: 600px) {
  :root {
    /* Font Size */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* 3. Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-primary);
  color: var(--licorice);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* 4. Layout Wrappers */
header,
nav,
main,
aside,
footer {
  padding: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 0.2rem;
}

.logo img {
  width: 8.8rem;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

img {
  width: 100%;
  display: block;
}

/* 5. Navigation */
nav ul {
  list-style: none;
}
a {
  transition: all 0.2s ease-in;
}
nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.2em 0.7em;
}

nav a:hover,
nav a:focus {
  background-color: var(--primary-color);
  padding: 0.4em 1em;
  border-radius: 5em;
  color: var(--secondary-color);
}

/* 6. Utility Classes */
.no-select {
  cursor: not-allowed;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE/Edge */
  user-select: none; /* Standard syntax */
}

.links {
  color: inherit;
}

.links:hover,
.links:focus {
  color: var(--secondary-color);
}

.links:active {
  color: var(--tertiary-color);
}

/* 7. Footer */
footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* 8. Grid */
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.portfolio a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
