/* CSS Reset / Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Downloaded Font */
@font-face {
  font-family: "Rooster";
  src: url("/font/ROOSTER\ PERSONAL\ USE.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Root Variables */
:root {
  /* Font Family */
  --ff-primary: Georgia, "Times New Roman", Times, serif;
  --ff-secondary: "Rooster", Georgia, "Times New Roman", Times, serif;

  /* Color Palette USAGE */
  --bg-color: #fff;
  --licorice: #281e1eff;
  --rust: #a65630ff;
  --rich-black: #090a11ff;
  --caput-mortuum: #632416ff;
  --sienna: #893419ff;
  --onyx: #3d3d3fff;
  --khaki: #aea49aff;

  /* Font Size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;

  /* Font Weight */
  --fw-reg: 300;
  --fw-bold: 900;

  /* Border Radius */
  --br: 10px;

  /* Header Height */
  --header-h: 4em;

  /* Box Shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* Media Queries */
@media (min-width: 600px) {
  :root {
    /* Font Size */
    --fs-h1: 2.7rem;
    --fs-h2: 3rem;

    /* Header Height */
    --header-h: 4.5em;
  }
}

@media (min-width: 900px) {
  :root {
    /* Font Size */
    --fs-h1: 3rem;
    --fs-h2: 3.2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    /* Header Height */
    --header-h: 6em;
    scroll-padding-top: calc(var(--header-h) + 8px);
  }

  @media (min-width: 1200px) {
    :root {
      /* Font Size */
      --fs-h1: 4rem;
      --fs-h2: 3.6rem;
    }
  }
}

/* Base Styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-h) - 1px);
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-primary);
  color: var(--licorice);
  font-size: var(--fs-body);
  line-height: 1.6;
}

strong {
  font-weight: var(--fw-bold);
}

/* Layout Wrappers */

main,
aside,
footer {
  padding: 1em;
}

section {
  margin: 2em 0em;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
  z-index: 1000;
  height: var(--header-h);
  padding: 0 1em;
}

.header-list {
  display: flex;
}

.logo img {
  width: 8.8em;
  margin: 0;
}

.logo p {
  font-weight: var(--fw-bold);
  text-decoration: underline;
}

@media (min-width: 600px) {
  .logo p {
    font-size: var(--fs-h3);
  }
}

main {
  margin-top: var(--header-h);
}

img {
  width: 100%;
  display: block;
}

/* Navigation */
nav ul {
  list-style: none;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.header-nav a {
  padding: 0.5em 1em;
}

.header-nav a:hover,
.header-nav a:focus {
  background-color: var(--bg-color);
  color: var(--rust);
}

.header-nav a:active {
  background-color: var(--caput-mortuum);
}

/* Utility Classes */
.no-select {
  cursor: not-allowed;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE/Edge */
  user-select: none; /* Standard syntax */
}

.rooster {
  font-family: var(--ff-secondary);
}

.btn {
  color: var(--bg-color);
  background-color: var(--caput-mortuum);
  padding: 0.7em 1.5em;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.header-nav a:focus,
footer a:focus,
.btn:focus,
.portfolio_item:focus {
  outline: 3px solid var(--khaki);
  outline-offset: 3px;
}

.section_title {
  margin-bottom: 0.25em;
}

.section_title-intro {
  font-weight: var(--fw-reg);
}

.section_subtitle {
  font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about {
  margin-bottom: 1em;
}

.rust-white,
.btn:active {
  background-color: var(--rust);
  color: var(--bg-color);
}

.block {
  display: block;
}

.img-border,
.my-work {
  border-radius: var(--br);
  box-shadow: var(--bs);
}

/* Main Combo */
nav a:hover,
nav a:focus,
footer a,
.btn:hover,
.btn:focus {
  border-radius: 5em;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .section_subtitle-intro,
  .section_subtitle-about {
    border-radius: var(--br);
    padding: 0.2em 0.1em;
  }
}

.service,
.about {
  margin: 1.6em auto;
  max-width: 500px;
}

.service h3,
.about h3 {
  margin: 1.5em auto 0.5em;
}

/* Introduction */
.intro {
  position: relative;
}

.intro-img {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section_subtitle-intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.25em);
    padding: 0.2em 0.5em;
    border-radius: var(--br);
  }

  .section_title-intro {
    margin: auto 0;
  }
}

@media (min-width: 900px) {
  .intro {
    gap: 2.8em;
  }
}

@media (min-width: 1200px) {
  .intro-img {
    min-width: 350px;
  }
}

/* My Services */
.my-services {
  background-color: rgba(0, 0, 0, 0.548);
  background-image: url("/images/services-bg.jpg");
  background-size: cover;
  background-blend-mode: color-burn;
  color: var(--bg-color);
  text-align: center;
  padding: 1.7em 1em;
}

.section_title-services {
  position: relative;
  color: var(--sienna);
}

.section_title-services::after,
.section_title-work::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--khaki);
}

@media (min-width: 600px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .service + .service {
    margin-left: 2em;
  }

  .section_title-services::after {
    margin: 0.5em auto;
  }
}

/* About Me */
@media (max-width: 600px) {
  .about-me {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 1em;
  }

  .section_title-about {
    grid-area: title;
  }

  .about_me-img {
    grid-area: img;
    position: relative;
    min-width: 101%;
    z-index: 2;
  }

  .section_subtitle-about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: 0;
    width: calc(100% + 0.3em);
    padding: 0.2em 0.5em;
    border-radius: var(--br);
  }
}

@media (min-width: 900px) {
  .about-me {
    grid-template-columns: 1fr 350px;
  }
}

.link {
  color: var(--rust);
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.link:active {
  color: aqua;
}

/* My Work */
.my-work {
  background-color: var(--onyx);
  color: var(--rust);
  text-align: center;
  padding: 2em 1em 0;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1em 1em 2em;
}

.portfolio a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.section_subtitle-work {
  font-weight: var(--fw-bold);
  color: var(--bg-color);
}

.portfolio_item {
  background: var(--rust);
  overflow: hidden;
}

.portfolio_img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio_item:focus {
  z-index: 2;
  position: relative;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
  transform: scale(1.2);
  opacity: 0.75;
}

.fa-ul {
  list-style: none;
  padding-left: 0;
}

/* Carousel */
.carousel-container {
  position: relative;
  width: 95%;
  margin: 0px auto 50px;
  overflow: hidden;
  border-radius: var(--br);
  background: var(--khaki);
  color: var(--caput-mortuum);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carousel {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 2em;
  margin: 0 0.2em 5em;
}

.carousel-btn {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.336);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: var(--br);
  z-index: 10;
  transition: background 0.3s;
}

.carousel-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
  margin-top: 0;
}

footer h3 {
  margin: 0em 0 0.6em;
}

.footer-social nav ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.footer-social h3 {
  margin-top: 1em;
}

svg {
  width: 30px;
  margin-bottom: 0.11em;
}

.footer-svg svg {
  transition: transform 0.2s ease;
}

.footer-svg:hover svg,
.footer-svg:focus svg {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .footer-social nav ul {
    gap: 1.5em;
  }
}

@media (min-width: 900px) {
  svg {
    width: 50px;
  }

  .footer-social nav ul {
    gap: 2.3em;
  }
}

/* Header */
@media (max-width: 600px) {
  .header-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--caput-mortuum);
    z-index: 100;
    transform: translate(100%, 0);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-link {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
  }

  /* Hamburger Button */
  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::after,
  .hamburger::before {
    background-color: var(--bg-color);
    width: 2em;
    height: 3.2px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav-toggle {
    padding: 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    right: 1em;
    z-index: 1001;
    cursor: pointer;
  }

  .nav-open .header-list {
    transform: translateX(0);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }
}

@media (min-width: 600px) {
  .nav-toggle {
    display: none;
  }
}

/* Individual portfolio item styles */

.project {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.project p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .project h2 {
    margin-left: 1.7em;
  }
}

@media (min-width: 900px) {
  .project h2 {
    margin-left: 2.8em;
  }
}

@media (min-width: 1200px) {
  .project h2 {
    margin-left: 0.8em;
  }
}
